body {
  background-color: rgba(35, 31, 32, 0.15);
  color: #231f20;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.4;
  min-height: 740px;
  position: relative;
}
.step {
  position: relative;
  margin: 0;
  opacity: 0;
  transition: opacity 0.6s;
  box-sizing: border-box;
}
.step.present,
.step.active,
.step.past {
  opacity: 1;
}
.slide {
  width: 1200px;
}
.slide > .content {
  position: absolute;
  padding: 25px 40px;
  margin: 0;
}
.slide > .content::before {
  content: '';
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  position: absolute;
  top: 10px;
}
.slide.left > .content {
  left: 0;
  background-color: #2bb3bb;
  color: #ffffff;
}
.slide.left > .content::before {
  left: -60px;
  border-right: 40px solid #2bb3bb;
}
.slide.right > .content {
  right: 0;
  background-color: #ffffff;
}
.slide.right > .content::before {
  right: -60px;
  border-left: 40px solid #ffffff;
}
#logo {
  transition: all 0.6s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
#logo path,
#logo rect {
  fill: #231f20;
}
.impress-on-title #logo {
  bottom: 250px;
  margin-left: -200px;
  width: 400px;
}
.impress-on-scott-logic #logo {
  bottom: 50%;
  margin-left: -250px;
  width: 500px;
}
.impress-on-thank-you #logo {
  bottom: 80%;
  margin-left: -175px;
  width: 350px;
}
video.capture {
  width: 720px;
  height: 540px;
  margin-left: -9999%;
}
#title {
  height: 400px;
  font-size: 2.1em;
}
#title > .content {
  width: 1120px;
}
.impress-on-title2 #title {
  opacity: 1;
}
.impress-on-scott-logic .step {
  opacity: 0;
}
/* Set the Scene */
#smartphone,
#whatsapp,
#messenger,
#other-chat {
  height: 100px;
}
.content.answer {
  font-size: 0;
}
#messenger-overtakes-social {
  height: 600px;
  font-size: 0;
}
#messenger-overtakes-social > .content {
  width: 800px;
}
#messenger-overtakes-social > .content .source {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
}
#whatsapp-stats1 {
  height: 200px;
  font-size: 0;
}
#whatsapp-stats1 > .content img {
  width: 400px;
}
#whatsapp-stats2,
#whatsapp-stats3 {
  height: 150px;
}
/* Banking */
#thats-nice {
  height: 300px;
}
#uber-on-messenger {
  height: 700px;
  font-size: 0;
}
#uber-on-messenger > .content {
  width: 1120px;
}
#uber-on-messenger > .content > video {
  width: 100%;
}
#wechat {
  height: 250px;
  font-size: 0;
}
#wechat > .content {
  width: 200px;
}
#icbc {
  height: 250px;
  font-size: 0;
}
#icbc > .content {
  width: 500px;
}
#show-something {
  height: 200px;
}
#slack {
  height: 200px;
  font-size: 0;
}
#slack > .content img {
  width: 450px;
}
#slash-command-demo {
  height: 200px;
  font-size: 0;
}
#slash-command-demo svg {
  width: 100px;
  opacity: 0.5;
  position: absolute;
  right: 0;
}
#so-what {
  height: 200px;
}
#in-context1 {
  height: 200px;
  font-size: 0;
}
#in-context1 > .content {
  width: 1000px;
}
#in-context2 {
  height: 200px;
  font-size: 0;
}
#in-context2 > .content {
  width: 550px;
}
#evidence-of-convenience {
  height: 650px;
}
#evidence-of-convenience > .content {
  width: 850px;
}
/* Conversation */
#making-it-conversational {
  height: 200px;
}
#choose-your-own-adventure {
  height: 700px;
  font-size: 0;
}
#choose-your-own-adventure > .content img {
  width: 400px;
}
#text-adventure {
  height: 500px;
  font-size: 0;
}
#text-adventure > .content img {
  width: 800px;
}
#monkey-island {
  height: 700px;
  font-size: 0;
}
#monkey-island > .content img {
  width: 1000px;
}
#starship-titanic {
  height: 700px;
  font-size: 0;
}
#starship-titanic > .content img {
  width: 800px;
}
#bot {
  height: 500px;
  font-size: 0;
}
#bot > .content {
  width: 400px;
}
#product-hunt,
#product-hunt-play {
  height: 800px;
}
#product-hunt > .content,
#product-hunt-play > .content {
  width: 1000px;
}
#product-hunt > .content > video,
#product-hunt-play > .content > video {
  width: 100%;
}
#lark,
#lark-play {
  height: 700px;
  font-size: 0;
}
#lark > .content,
#lark-play > .content {
  width: 322px;
}
#lark > .content > video,
#lark-play > .content > video {
  width: 100%;
}
#build-chat-app,
#build-on-existing-apps {
  height: 200px;
}
#whatsapp-quote {
  height: 600px;
}
#whatsapp-quote > .content blockquote {
  padding: 0 20px;
  margin: 20px 0;
  font-size: 0.8em;
  border-left: 10px solid rgba(35, 31, 32, 0.25);
  quotes: "\201C" "\201D" "\2018" "\2019";
}
#whatsapp-quote > .content blockquote:before {
  color: rgba(35, 31, 32, 0.4);
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
#whatsapp-quote > .content blockquote p {
  display: inline;
  font-style: italic;
}
#whatsapp-quote > .content blockquote p em {
  font-style: normal;
}
#whatsapp-quote > .content blockquote footer .logo {
  width: 300px;
  display: block;
  margin: 20px 20px 0 20px;
}
#whatsapp-quote > .content blockquote footer .date {
  font-size: 0.7em;
  font-style: normal;
  margin-left: 100px;
}
#slash-pa-demo {
  height: 200px;
  font-size: 0;
}
#slash-pa-demo svg {
  width: 100px;
  opacity: 0.5;
  position: absolute;
  right: 0;
}
/* Technical */
#sounds-tricky {
  height: 200px;
}
#architecture {
  height: 700px;
  font-size: 0;
}
#architecture > .content {
  width: 900px;
}
#on-top-of-existing-systems,
#interchange-with-people {
  height: 700px;
  font-size: 0;
}
#on-top-of-existing-systems > .content,
#interchange-with-people > .content {
  width: 900px;
}
/* Security */
#what-about-security {
  height: 200px;
}
#malice {
  height: 300px;
  font-size: 0;
}
#malice > .content {
  width: 250px;
}
#limits {
  height: 200px;
}
#touchid {
  height: 500px;
  font-size: 0;
}
#touchid > .content img {
  width: 700px;
}
#cloud {
  height: 700px;
  font-size: 0;
}
#cloud > .content {
  width: 900px;
}
#sms-contactless {
  height: 200px;
}
#cloud2 {
  height: 300px;
  font-size: 0;
}
#cloud2 > .content {
  width: 300px;
}
#channel-shifting {
  height: 500px;
  font-size: 0;
}
#channel-shifting > .content img {
  width: 500px;
}
#slash-channel-shifting-demo {
  height: 200px;
  font-size: 0;
}
#slash-channel-shifting-demo svg {
  width: 100px;
  opacity: 0.5;
  position: absolute;
  right: 0;
}
/* why conversation */
#why-conversation {
  height: 300px;
}
#voice {
  height: 200px;
}
#low-hanging-fruit {
  height: 200px;
}
#history-of-computing {
  height: 200px;
  font-size: 0;
}
#history-of-computing > .content {
  width: 880px;
}
#cli-gui-nui {
  height: 200px;
  font-size: 0;
}
#cli-gui-nui > .content {
  width: 700px;
}
#natural-user-interface {
  height: 200px;
}
#slash-panic-demo {
  height: 200px;
  font-size: 0;
}
#slash-panic-demo svg {
  width: 100px;
  opacity: 0.5;
  position: absolute;
  right: 0;
}
/* Summary */
#title-summary {
  height: 200px;
}
#should-be {
  height: 200px;
}
#omni-channel-touching {
  height: 700px;
}
#omni-channel-touching > .content {
  width: 800px;
}
#omni-channel-embracing {
  height: 600px;
}
#omni-channel-embracing > .content {
  width: 680px;
}
#its-up-to-you {
  height: 200px;
}
#agree {
  height: 200px;
}
#thank-you {
  text-align: center;
}
#thank-you h1 {
  font-size: 1.5em;
}
#thank-you h2 {
  font-size: 1em;
  padding: 0;
  margin: 0;
  margin-top: 3em;
}
#thank-you h3 {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}
